@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Penna';
	/* font-style: thin;
	font-weight: 300; */
	src: local('penna'), url('/fonts/penna.otf');
}

/* * {
	border:1px solid red;
} */
body,
html {
	height: 100%;
	width: 100%;
	font-family: Penna;
}
